<div id="<%= dom_id member %>" class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <dl class="row">
        <dt class="col-6 fw-semibold text-secondary">Name:</dt>
        <dd class="col-6 text-dark"><%= member.name %></dd>

        <dt class="col-6 fw-semibold text-secondary">Surname:</dt>
        <dd class="col-6 text-dark"><%= member.surname %></dd>

        <dt class="col-6 fw-semibold text-secondary">Email:</dt>
        <dd class="col-6 text-dark"><%= member.email %></dd>

        <dt class="col-6 fw-semibold text-secondary">Birthday:</dt>
        <dd class="col-6 text-dark"><%= member.birthday %></dd>

        <dt class="col-6 fw-semibold text-secondary">Games played:</dt>
        <dd class="col-6 text-dark"><%= member.games_played %></dd>

        <dt class="col-6 fw-semibold text-secondary">Current rank:</dt>
        <dd class="col-6 text-dark"><%= member.current_rank %></dd>
      </dl>
    </div>
  </div>
</div>
