<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= member.surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= member.birthday %>
  </p>

  <p>
    <strong>Games played:</strong>
    <%= member.games_played %>
  </p>

  <p>
    <strong>Current rank:</strong>
    <%= member.current_rank %>
  </p>

</div>
